<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Home</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/user" *ngIf="isAuth">
        <ion-avatar slot="end">
          <ion-img [src]="user.imageProfile"></ion-img>
        </ion-avatar>
      </ion-button>
      <ion-button routerLink="/auth" *ngIf="!isAuth">
        <ion-text>Entrar</ion-text>
        <ion-icon name="log-in" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding >
    <ion-row>
      <ion-col no-padding>
        <ion-img class="home-image" src="/assets/img/placeholder.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" text-center padding>
        <h1 text-center>Página Pública</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
